<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>AHOO知恵袋</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div>
        <a href="/home" id="home-link">Home</a>
    </div>

    <h1 class="heading-style">質問</h1>
    <div class="card">
        <h2 th:text="${question.title}"></h2>
        <p th:text="${question.content}"></p>
    </div>

    <!--回答フォーム-->
    <h1 class="heading-style">回答</h1>
    <form class="flex-form" method="post" action="/insertAnswer" th:action="@{insertAnswer}">
        <input type="hidden" name="questionId" th:value="${question.id}">
        <p>質問に答える</p>
        <input type="text" name="respondent" th:field=="${answerForm.responderName}">

        <textarea name="answer" th:field=="${answerForm.answer}"></textarea>
        <p style="color:red;" th:errors="${answerForm.answer}">回答を入れてください </p>
        <input type="submit" value="回答する">
    </form>

    <div th:if="${#lists.isEmpty(answers)}">
        まだ回答がないようです
    </div>

    <div th:each="answer : ${answers}" class="card gap" id="answer">
        <h2 th:text="${answer.name}"></h2>
        <p th:text="${answer.answer}"></p>
        <p th:text="${answer.date}"></p>
        <button id="star-btn">
            役に立った
        </button>
    </div>

</body>

</html>
