<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>AHOO知恵袋</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <h1 class="heading-style">質問</h1>
    <div class="card">
        <h2 th:text="${question.title}"></h2>
        <p th:text="${question.content}"></p>
    </div>

    <h1 class="heading-style">回答</h1>

    <div th:if="${#lists.isEmpty(answers)}">
        まだ回答がないようです
    </div>

    <div th:each="answer : ${answers}" class="card gap" id="answer">
        <h2 th:text="$answer.name"></h2>
        <p th:text="$answer.answer"></p>
        <button id="star-btn">
            役に立った
        </button>
    </div>


    <a th:each="title : ${titles}" class="card" th:href="@{/question/{id}(id=${title.id})}">
        <h2 th:text="${title.title}"></h2>
        <div id="question-status">
            <p>共感:11</p>
            <p th:text="${title.createdTime}"></p>
        </div>
    </a>

    <form class="flex-form" method="post" action="/insertAnswer" th:action="@{insertAnswer}">
        <input type="hidden" name="questionId" th:value="${question.id}">
        <p>質問に答える</p>
        <input type="text" name="answer-username">

        <textarea type="text" name="question"></textarea>
        <input type="submit" value="回答する">
    </form>

</body>

</html>
