<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>AHOO知恵袋</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <h1 class="heading-style">質問</h1>

    <div class="card">
        <h2>title</h2>
        <p>「ではみなさんは、そういうふうに川だと言われたり、乳の流れたあとだと言われたりしていた、このぼんやりと白いものがほんとうは何かご承知ですか」先生は、黒板につるした大きな黒い星座の図の、上から下へ白くけぶった銀河帯のようなところを指しながら、みんなに問いをかけました。カムパネルラが手をあげました。それから四、五人手をあげました。ジョバンニも手をあげようとして、急いでそのままやめました。
        </p>
    </div>

    <h1 class="heading-style">回答</h1>

    <div class="card gap" id="answer">
        <h2>hogeさん</h2>
        <p>「ではみなさんは、そういうふうに川だと言われたり、乳の流れたあとだと言われたりしていた、このぼんやりと白いものがほんとうは何かご承知ですか」先生は、黒板につるした大きな黒い星座の図の、上から下へ白くけぶった銀河帯のようなところを指しながら、みんなに問いをかけました。カムパネルラが手をあげました。それから四、五人手をあげました。ジョバンニも手をあげようとして、急いでそのままやめました。
        </p>
        <button id="star-btn">
            役に立った
        </button>
    </div>

    <form class="flex-form" method="post" action="/insertAnswer" th:action="@{insertAnswer}">
        <p>質問に答える</p>
        <input type="text" name="answer-username">

        <textarea type="text" name="question"></textarea>
        <input type="submit" value="回答する">
    </form>

</body>

</html>
